body {
    padding: 0;
    margin: 0;
    /* background: rgb(40, 40, 40); */
    min-height: 100vh;
    background: #13211a;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;

}

header {
    position: relative;
    border-bottom: 0.1rem solid #7b7b7b;

}

nav {
    background: #202834;
    /* min-height: 5rem; */
}

.logo {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    display: flex;
    align-items: start;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-weight: bold;
}

.logo b {
    font-size: 1rem;
    margin: .5rem 0 0 .5rem;
    opacity: .7;
}

.screen {
    min-height: 70vh;
    background: beige;
    background-image: url("./src/img/top.png");
    background-size: contain;
    background-repeat: repeat-x;
    border-bottom: 0.3rem solid #6d2718;

    animation: backgroundMove 400s linear infinite,
        blurLeftRight 30s ease-in-out infinite;
    /* animation: backgroundLeftRight 30s ease-in-out infinite; */
}

.robot-1 {
    position: absolute;
    bottom: -5%;
    right: 0rem;
    height: 100vh;
    filter: drop-shadow(0px 0px 16px white) hue-rotate(45deg);
    animation: hueRotateLeftRight 20s ease-in-out infinite;
}

.floor {
    height: 15vh;
    width: 100%;
}



@keyframes blurLeftRight {

    0%,
    100% {
        filter: blur(0px);
    }

    50% {
        filter: blur(3px);
    }
}

@keyframes hueRotateLeftRight {

    0%,
    100% {
        filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.635)) hue-rotate(-20deg);
    }

    50% {
        filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.348)) hue-rotate(5deg);
    }
}

@keyframes horizontalMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes leftRightMove {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes backgroundMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}

@keyframes backgroundLeftRight {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 5rem 0;
    }
}


.el {
    width: 50vw;
    height: 140vh;
    /* padding: 1rem; */

    background-image: url(./src/img/con-1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(./src/img/mask-br.svg);
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;

    margin-top: -10rem;
}

main {
    z-index: 2;
    position: relative;
}

.il {
    margin-top: -13rem;
    margin-left: 5rem;
    width: 40vw;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));

}

section {
    display: flex;
}

section {
}

section .text {
    padding: 0 5rem;
}

section h2 {
}

section p {
}